@model IEnumerable<PrintedBookDTO>
@using EL.Service.DTO;

@{
    foreach (PrintedBookDTO pb in Model)
    {
        <div class="catalog-item">
            <img src="@string.Format("/img/printed_books/{0}.jpg", pb.Id)">
            <div class="catalog-item-info-zone" data-id="@pb.Id.ToString()">
                <h3>@pb.Title</h3>
                <p>
                    @foreach (AuthorDTO a in pb.Authors)
                    {
                        @string.Format("{0} {1}", a.Surname, a.Name)
                    }
                </p>
                @{
                    if (pb.AmountLeft == 0)
                    {
                        <p class="catalog-item-stock">Нет в наличии!</p>
                    }
                }
                <!--<p>Год выпуска</p>-->
            </div>
        </div>
    }
}