@page
@model EL.Web.Pages.AddUserModel
@{
    Layout = "/Pages/Shared/_MasterLibrarian.cshtml";
}

@section AdditionalStyles {
    <link href="~/css/add-user.css" rel="stylesheet"/>
}

<main class="container">
    <h1 class="page_heading">Регистрация читателя</h1>
        <div class="form-container">
            <form id="add-user-form"@*  action="@Url.Action("CreateUser", "Register")" *@ method="post">

                <label for="name">Фамилия</label>
                <input type="text" id="name" name="name" required>

                <label for="surname">Имя</label>
                <input type="text" id="surname" name="surname" required>

                <label for="patronymic">Отчество</label>
                <input type="text" id="patronymic" name="patronymic" required>

                <label for="birthdate">Дата рождения</label>
                <input type="date" id="birthdate" name="birth_date" required>

                <label for="phone_number">Телефон</label>
                <input type="tel" pattern="^(\+7|7|8)?[\s\-]?\(?[489][0-9]{2}\)?[\s\-]?[0-9]{3}[\s\-]?[0-9]{2}[\s\-]?[0-9]{2}$" id="phone_number" name="phone_number" required>

                <label for="login">Логин</label>
                <input type="text" id="login" name="login" required>

                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" required>

                <input type="submit" value="Зарегистрировать">
            </form>
        </div>
</main>

@section Scripts {
    <script src="https://malsup.github.io/jquery.form.js"></script>
    <script src="~/js/add-user.js" defer></script>
}
