@model EL.Service.ViewModel.BaseViewModel
@{
    Layout = Model.MasterLayoutRef;
}

<div>
    <label>Изменение пароля</label>
    <form id="change-password-form" method="post">
        <label for="changed_password">Новый пароль</label>
        <input type="password" name="changed_password" required>
        <label for="repeat_changed_password">Повтор пароля</label>
        <input type="password" name="repeat_changed_password" required>
        <input type="submit">
    </form>
</div>