.container {
    max-width: 600px;
    margin: 0px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-container {
    /*max-width: 500px;*/
    margin: auto;
    background-color: #fff;
    padding: 20px;
}

.book-author {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

#preview-book-image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

#preview-book-image-wrapper > img {
    width: 30%;
}