* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #fffafa;
    color: #333;
}

header, nav, main, footer {
    margin-bottom: 20px;
}

h1, h2, h3 {
    color: #222;
    font-weight: bolder;
}

a {
    /*text-decoration: none;*/
    color: rgba(13, 110, 253, 1);
    padding: 10px;
}

button, input[type="submit"] {
    background-color: #555;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

    button:hover, input[type="submit"]:hover {
        background-color: #999;
    }

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.page_heading {
    text-align: center;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
   /* width: 30vw;*/
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

input[type=button]{
    cursor: pointer;
}